# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  workflow_call:

permissions:
  contents: read

jobs:
  build:
    uses: ahunigel/reusable-workflows/.github/workflows/gradle-build.yml@v1
    with:
      java-version: '17'
      gradle-tasks: 'build'
      run-tests: true
      generate-dependency-graph: false
      upload-artifact: true
      artifact-name: 'gradle-jdk17-build-reports'
      artifact-path: 'build/reports/**/*'
