# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on:
  workflow_call:

permissions:
  contents: read
  packages: write

jobs:
  build:
    uses: ahunigel/reusable-workflows/.github/workflows/maven-publish-build.yml@v1
    with:
      java-version: '21'
      maven-build-args: '-B package --file pom.xml'
      maven-deploy-args: 'deploy'
    secrets: inherit
